* {
    box-sizing: border-box;
}

body {
    background-color: $backgroundColor;
    margin: 0;
    color: $fontColor;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: $mFontSize;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-weight: 700;
    font-size: $xlFontSize;
    margin: $xxlSize 0;
}

h3 {
    font-weight: inherit;
    font-size: $mFontSize;
    margin: $xlSize 0;
}

h4 {
    font-size: $lFontSize;
    margin: $lSize 0;
}

input {
    font-size: inherit;
    padding: 0 $xlSize;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    color: white;
}

button, input[type=submit] {
    $height: 50px;

    height: $height;
    padding: 0 $xlSize;
    border: 1px solid white;
    border-radius: $height;
    font-size: $sFontSize;
    background-color: white;
    cursor: pointer;
    color: $backgroundColor;
}