$backgroundColor: #000000;
$fontColor: #ffffff;

$purpleColor: #2a131f;
$greenColor: #52b788;

$xsSize: 2px;
$sSize: 4px;
$mSize: 8px;
$lSize: 16px;
$xlSize: 32px;
$xxlSize: 64px;

$sFontSize: 16px;
$mFontSize: 20px;
$lFontSize: 30px;
$xlFontSize: 50px;
